**/__pycache__/
**/__init__.py
*.py[cod]
*.pyc
*.pyo
*.pyd
*.pem
.DS_Store
.venv/ 
*.h5
ec2-user@51.20.129.165
data/
docker/postgres/base/16384/1259
docker/postgres/base/16384/2619
docker/postgres/base/16384/19359
docker/postgres/base/16384/19480
docker/postgres/base/16384/19480_vm
docker/postgres/base/16384/19489
docker/postgres/base/16384/19881
docker/postgres/base/16384/19883
docker/postgres/base/16384/20004
docker/postgres/base/16384/20005
docker/postgres/base/16384/20006
docker/postgres/global/pg_control
docker/postgres/pg_stat_tmp/db_0.stat
docker/postgres/pg_stat_tmp/db_13468.stat
docker/postgres/pg_stat_tmp/db_16384.stat
docker/postgres/pg_stat_tmp/global.stat
docker/postgres/pg_wal/000000010000000000000002
docker/postgres/pg_xact/0000
