**/__pycache__/
**/__init__.py
*.py[cod]
*.pyc
*.pyo
*.pyd
*.pem
*.pem.pub
*.yml
app/settings.py
*.json
.DS_Store
.venv/ 
*.h5
ai_worker/ai_models/
ec2-user@51.20.129.165
data/
docker/
keycloak-import/
.env
.env-devdocker/postgres/pg_stat_tmp/
